[submodule "modules/PLANitParentPom"]
	path = modules/PLANitParentPom
	url = https://github.com/AURIN-OFFICE/PLANitParentPom.git
[submodule "modules/PLANitUtils"]
	path = modules/PLANitUtils
	url = https://github.com/AURIN-OFFICE/PLANitUtils.git
[submodule "modules/PLANit"]
	path = modules/PLANit
	url = https://github.com/AURIN-OFFICE/PLANit.git
[submodule "modules/PLANitMatsim"]
	path = modules/PLANitMatsim
	url = https://github.com/AURIN-OFFICE/PLANitMatsim.git
[submodule "modules/PLANitOSM"]
	path = modules/PLANitOSM
	url = https://github.com/AURIN-OFFICE/PLANitOSM.git
